.git

.idea
.git
Dockerfile
# slither build from source checks for README so we leave this disabled
# *.md
logo.png
.make-release-support
build
CI
.DS_Store
test_1.txt
sub.slither/
src/
build-scripts/
.vscode
.github/
node_modules
